doctype html 
html 
head   
    title= `${title}`
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href="public\style.css")
    style. 
        a{
            font-size: 20px;
        }
        table{
            width: 50%;
            border-collapse: collapse;
            margin: 20px 0;
        }
        th, td{
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th{
            background-color: rgb(84, 99, 240);
        }
        td{
            background-color: rgb(248, 155, 101);
        }

body 
    h1 Custom Object Table 
    a(href='update/cobj') Add/Update this table 
    table 
        thead   
            tr 
                th Name 
                th Brand 
                th Color 

        tbody 
            each item in data
                tr  
                    td= item.properties.name || 'NA'
                    td= item.properties.brand || 'NA'
                    td= item.properties.color || 'NA'