doctype html 
html 
head   
    title= `${title}`
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href="public\style.css")
    style. 
        a{
            font-size: 20px;
        }
        form{
            padding: 20px;
            border-radius: 8px;
            margin: 10px 0;
        }
        label{
            font-weight: bold;
            display: block;
            margin: 10px 0 5px;
        }
        input{
            padding: 8px;
            border: 1px solid #ccc;
        }
        button{
            padding: 8px;
            background-color: rgb(84, 99, 240);
            margin: 15px 0;
            border-radius: 2px;
            font-size: 16px;
        }
        button:hover{
            background-color: rgb(132, 142, 233);
        }

body 
    h1 Update Custom Object Table 

    a(href= '/') Return to the Homepage

    form(action="/update-cobj" method="POST")

        label(for="name") Name: 
        input(type="text" name="name" placeholder="Enter new name")

        br 

        label(for="brand") Brand: 
        input(type="text" name="brand" placeholder="Enter new brand")

        br

        label(for="color") Color: 
        input(type="text" name="color" placeholder="Enter new color")

        br 

        button(type="submit") Update Object